/*
This is personal application .Creted for fun.
Created by thilina kariyawasam 
Apr 22, 2018
ommi
Online ommi
*/
/* 
    Created on : Apr 22, 2018, 10:23:22 AM
    Author     : Thilina Kariyawasam 
*/

fieldset
{
    background-color: bisque;
    max-width:500px;
    padding:16px;
    border:2px solid green;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;

}
legend
{
    margin-bottom:0px;
    margin-left:16px;
}

label {
    float:left;
    width:25%;
    margin-right:0.5em;
    text-align:right;

}

.card {
    width: 90px;
    height: 150px;
    background-color: #faebd7;
    border-radius: 12px;
    border: 1px solid #ccc;    
}

.mc {
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
}
.mc1 {
    top: 20px;
    left:300px;
    transform: rotate(-20deg);
}
.mc2 {
    top: 30px;
    left:330px;
    color: red;
    transform: rotate(10deg);
}
.mc3 {
    top: 45px;
    left:355px;
    transform: rotate(30deg);
}

.page_head{
    left:50px;
    width: 250px;
    top: 40px;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    font-style: italic;
}

.reg_form{
    top: 200px;
    position: absolute;
}

.reg{
    float: right;
    background-color: burlywood;
    color: black;
    border: 2px solid brown; /* Green */
}

#version{
    text-align: center;
    font-size: 70%;
    color: gray;
}

#top_head{
    font-size: 18px;
    font-weight: bold;
    background: bisque;
    border:1px solid brown;
    border-radius:4px;
    width: 70px;
    text-align: center;
}

body{
    background-color:  darkkhaki;
    float: left;
}
